:root {
  --color-bg: #f4f4f4;
  --color-txt: #5c5c5c;
  --color-hvr: #d2d2d2;
  --color-btn: #e8e8e8;
  --color-bg-btn-start: #4babe7;
  --color-bg-btn-end: #e47fe6;
  --color-blue: 75, 186, 231;
  --color-green: 46, 204, 113;
  --color-red: 234, 51, 35;
}

:root.dark-mode {
  --color-bg: #201f1f;
  --color-txt: #adadae;
  --color-hvr: #282828;
  --color-btn: #232323;
  --color-bg-btn-start: #4babe7;
  --color-bg-btn-end: #57d47c;
  --color-blue: 75, 186, 231;
  --color-green: 46, 204, 113;
  --color-red: 234, 51, 35;
}

.no-flash {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--color-bg);
}

.box {
  overflow-x: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.network,
.connectivity {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 100;
}

.network button,
.connectivity button {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--color-txt);
  background-color: var(--color-bg);
  box-shadow: none;
  border: none;
  height: 35px;
  padding: 7.5px;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.network button {
  background: transparent;
}

#connectBtn {
  font-size: 1.1em;
  color: var(--color-bg);
  background: linear-gradient(
    270deg,
    var(--color-bg-btn-start),
    var(--color-bg-btn-end)
  );
  background-size: 400% 400%;
  animation: gradientFlow 8s ease infinite;
  margin-left: 5px;
}

#connectBtn:hover {
  box-shadow: 0 0 0 0.5px var(--color-hvr);
}

#connectBtn.connected {
  color: var(--color-txt);
  background: var(--color-hvr);
  background-size: initial;
  animation: none;
  filter: none;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#connectBtn img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: 1px solid var(--color-bg);
}

.network img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.network button span i {
  display: inline-block;
  font-size: 0.8em;
  transition: transform 0.3s ease-in-out;
}

.network button span i.rotate {
  transform: rotate(180deg);
}

.chain-list,
.wallet-list {
  position: absolute;
  background-color: var(--color-bg);
  top: 100%;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 15px;
  opacity: 0;
  transition:
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform: scale(0.9);
  pointer-events: none;
}

.chain-list {
  width: 150px;
  left: 0;
}

.wallet-list {
  width: 200px;
  right: 0;
}

.chain-list.show,
.wallet-list.show {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

#wallets button,
.chain-list button,
#settings,
#getWallets {
  color: var(--color-txt);
  background-color: var(--color-btn);
  background-image: none;
  width: 100%;
  height: 40px;
  padding: 7.5px;
  border-radius: 0;
  margin: 2.5px 0;
  transition: background-color 0.3s ease-in-out;
}

#wallets button:hover,
.chain-list button:hover {
  background-color: var(--color-hvr);
}

.chain-list button:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0;
}

.chain-list button:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0;
}

#wallets img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 5px;
}

#wallets button,
#settings,
#getWallets {
  height: 50px;
}

#settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0;
}

#getWallets {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0;
}

#getWallets a {
  text-decoration: none;
  color: var(--color-txt);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#getWallets:hover {
  background-color: var(--color-hvr);
}

#wallets button:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0;
}

#disconnect {
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 10px;
  background-color: var(--color-hvr);
  transition: box-shadow 0.3s ease-in-out;
}

#disconnect:hover {
  box-shadow: 0 0 0 1px var(--color-hvr);
}

.theme-container {
  display: flex;
}

.theme-button {
  position: relative;
  border: none;
  background: transparent !important;
  cursor: pointer;
  width: 32px !important;
  height: 32px !important;
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-txt);
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.theme-button:hover {
  background-color: var(--color-hvr) !important;
}

.theme-button[data-active="true"] {
  color: var(--color-bg-btn-start);
}

.indicator {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(var(--color-green));
  margin-left: 5px;
  box-shadow: 0 0 0 0 rgba(var(--color-green), 0.5);
  animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--color-green), 0.5);
  }
  70% {
    box-shadow: 0 0 0 4px rgba(var(--color-green), 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--color-green), 0);
  }
}

#notificationBox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  overflow: visible;
  z-index: 99;
  padding: 5px;
}

#notification {
  position: relative;
  right: -100%;
  border-radius: 15px;
  width: 100%;
  opacity: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition:
    opacity 0.5s ease-in-out,
    right 0.5s ease-in-out;
}

#notification.show {
  right: 0;
  opacity: 1;
}

.notif-content {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#notification::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: rgba(var(--color-bg), 0.9);
  z-index: -1;
}

#notification.info .notif-content {
  color: rgba(var(--color-blue), 0.8);
  border: 1px solid rgba(var(--color-blue), 0.8);
  background-color: rgba(var(--color-blue), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-blue), 0.5);
}

#notification.success .notif-content {
  color: rgba(var(--color-green), 0.8);
  border: 1px solid rgba(var(--color-green), 0.8);
  background-color: rgba(var(--color-green), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-green), 0.5);
}

#notification.warning .notif-content {
  color: rgba(var(--color-red), 0.8);
  border: 1px solid rgba(var(--color-red), 0.8);
  background-color: rgba(var(--color-red), 0.1);
  box-shadow: 0 0 2px rgba(var(--color-red), 0.5);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 99;
  display: none;
}
