:root {
  --bg: #f1f1f2;
  --btn: #5c5c5c;
  --sec: #e7e7e7;
  --bg-btn: #4babe7;
  --bg-btn-start: #4babe7;
  --bg-btn-end: #e47fe6;
}

:root.dark-mode {
  --bg: #212122;
  --btn: #adadae;
  --sec: #1e1e1e;
  --bg-btn: #4babe7;
  --bg-btn-start: #4babe7;
  --bg-btn-end: #57d47c;
}

.no-flash {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
}

/* connectivity */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.network,
.connectivity {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 100;
}

.network button,
.connectivity button {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--btn);
  background-color: var(--bg);
  box-shadow: none;
  border: none;
  height: 35px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

.network button {
  margin-left: 5px;
}

.connectivity button {
  color: var(--bg);
  background: linear-gradient(270deg, var(--bg-btn-start), var(--bg-btn-end));
  background-size: 400% 400%;
  animation: gradientFlow 8s ease infinite;
}

.network button:hover,
.connectivity button:hover {
  filter: brightness(90%);
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.network img,
.connectivity img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.chain-list,
.wallet-list {
  position: absolute;
  background-color: var(--bg);
  top: 100%;
  margin-top: 10px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.9);
  pointer-events: none;
}

.chain-list {
  width: 150px;
  left: 0;
}

.wallet-list {
  width: 200px;
  right: 0;
}

.chain-list.show,
.wallet-list.show {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.network button span i {
  display: inline-block;
  font-size: 0.8em;
  transition: transform 0.2s ease-in-out;
}

.network button span i.rotate {
  transform: rotate(180deg);
}

.chain-list img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.wallet-list button,
.chain-list button,
#settings {
  color: var(--btn);
  background-color: var(--sec);
  background-image: none;
  width: 100%;
  height: 40px;
  padding: 7.5px;
  border-radius: 0;
  margin: 2.5px 0;
}

.chain-list button:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0;
}

.chain-list button:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0;
}

.wallet-list img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 5px;
}

.wallet-list button,
#settings {
  height: 50px;
}

#settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0;
}

#settings.connected {
  border-radius: 15px;
  margin-bottom: 0;
}

#wallets button:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0;
}

#whats a {
  text-decoration: none;
  color: var(--btn);
  font-size: 14px;
  transition: filter 0.1s ease-in-out;
}

#disconnect {
  font-size: 16px;
  border-radius: 32px;
  padding: 6px;
  background-color: var(--sec);
  filter: brightness(80%);
  transition: filter 0.1s ease-in-out;
  cursor: pointer;
}

#disconnect:hover {
  filter: brightness(90%);
}

.theme {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.theme input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sec);
  filter: brightness(90%);
  transition: 0.4s;
  border-radius: 32px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg);
  filter: brightness(150%);
  transition: 0.4s;
  border-radius: 50%;
}

.theme.dark .slider:before {
  transform: translateX(28px);
}

.slider .fa-sun,
.slider .fa-moon {
  position: absolute;
  top: 50%;
  color: var(--btn);
  transform: translateY(-50%);
  font-size: 16px;
  transition: 0.4s;
}

.slider .fa-sun {
  left: 8px;
}

.slider .fa-moon {
  right: 11px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 99;
  display: none;
}

/* connectivity */
