:root {
  --bg: #f1f1f2;
  --btn: #5c5c5c;
  --hvr: #e7e7e7;
}

:root.dark-mode {
  --bg: #19191a;
  --btn: #adadae;
  --hvr: #1e1e1e;
}

.no-flash {
  visibility: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.network,
.connectivity {
  position: relative;
}

.network button,
.connectivity button {
  display: flex;
  align-items: center;
  color: var(--btn);
  background-color: transparent;
  box-shadow: none;
  border: none;
  height: 40px;
  padding: 7.5px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.network button {
  transition: background-color 0.1s ease-in-out;
}

.connectivity button {
  font-size: 1em;
  background-color: var(--hvr);
  transition: filter 0.1s ease-in-out;
}

.chain-list,
.wallet-list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  background-color: var(--bg);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
}

.chain-list {
  width: 120px;
  border-radius: 10px;
}

.wallet-list {
  width: 200px;
  border-radius: 15px;
}

.chain-list.show,
.wallet-list.show {
  visibility: visible;
  opacity: 100;
}

.network button span i {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.network button span i.rotate {
  transform: rotate(180deg);
}

.network img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.chain-list img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.chain-list button {
  width: 100%;
  height: fit-content;
}

.network button:hover {
  background-color: var(--hvr);
}

.connectivity button:hover {
  filter: brightness(90%);
}

.connectivity img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.wallet-list img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 5px;
}

.wallet-list button {
  width: 100%;
  height: 50px;
  border-radius: 0;
}

#theme {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 2.5px;
}

#wallets button {
  margin: 2.5px 0;
}

#whats,
#disconnect {
  margin-top: 2.5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wallet-list a {
  text-decoration: none;
}

#whats span,
#theme span,
#disconnect span {
  width: 32px;
  margin-right: 8px;
  font-size: 1.6em;
}
