body {
  font-family: Arial, sans-serif;
}

.connectivity {
  display: flex;
  flex-direction: row;
}

.connectivity button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#connectedBtn {
  display: none;
}

.connectivity button:hover {
  background-color: lightgray;
}

.connectivity img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

#networkBtn span {
  transition: transform 0.2s ease-in-out;
}

.chain-list {
  position: relative;
  margin-top: 5px;
  width: 120px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  visibility: hidden;
}

.chain-list img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.chain-list button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-align: left;
  transition: background-color 0.1s ease-in-out;
}

.chain-list button:hover {
  background-color: lightgray;
}

.modal-box {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  visibility: hidden;
  max-width: 200px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.modal img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  border-radius: 5px;
}

.modal button {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: lightgray;
}
